/* Let's prefix all classes with `daf` to avoid conflicts with the admin's classes. */

.daf-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--daf-overlay-bg);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.daf-edit-layout-dialog-title {
  margin: 0 0 10px 0;
}

.daf-edit-layout-dialog-content {
  background-color: var(--daf-dialog-body-bg);
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 600px;
  /* Children's placement. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.daf-edit-layout-dialog-content-body {
  /* Take the remaining space. */
  flex: 1;
  /* Allow scrolling if its content overflows. */
  overflow-y: auto;
  padding: 20px 0;
}

.daf-fields-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daf-edit-layout-dialog-content-footer {
  height: 50px;
  padding-top: 10px;
  /* Children's placement. */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daf-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.daf-button:hover {
  opacity: 0.8;
}

.daf-button-primary {
  background-color: var(--daf-primary-button-bg);
  color: var(--daf-primary-button-text);
  padding: 8px 16px;
  font-size: 14px;
  min-width: 80px;
}

.daf-button-secondary {
  background-color: var(--daf-secondary-button-bg);
  color: var(--daf-secondary-button-text);
  padding: 8px 16px;
  font-size: 14px;
  min-width: 80px;
}

/* List of field cards. */
.daf-field-card {
  background-color: var(--daf-dialog-card-bg);
  border: 1px solid var(--daf-dialog-card-border);
  border-radius: 8px;
  padding: 14px;
  cursor: grab;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.daf-field-card:active {
  cursor: grabbing;
}

.daf-field-card.daf-dragging {
  z-index: 1100;
  opacity: 0.9;
  position: absolute;
  /* Match container padding */
  left: 20px;
  /* Match container padding */
  right: 20px;
  width: auto;
  /* Match container width */
  max-width: 500px;
  pointer-events: none;
}

.daf-field-card.daf-hidden {
  opacity: 0.5;
}

.daf-field-card-content {
  flex-grow: 1;
}

.daf-field-card-toggle-button {
  background: var(--daf-toggle-hide-button-bg);
  min-width: 60px;
  color: var(--daf-toggle-button-text);
  padding: 5px 10px;
}

.daf-field-card-toggle-button.daf-hidden {
  background: var(--daf-toggle-show-button-bg);
}

.daf-field-card-placeholder {
  background-color: var(--daf-dialog-card-bg);
  border: 2px dashed var(--daf-dialog-card-border);
  border-radius: 8px;
  /* Match the height of a field card. */
  height: 54px;
}